<style>
    .json-editor-nav{
        margin-bottom: 10px;;
    }

    #jsonEditor {
        height: 400px;
        width: 600px;
        background-color: white;
    }

    .json-editor-wrapper {
        position: fixed;
        top: 50px;
        right: 10px;
        z-index: 1;
    }
</style>
<div class="json-editor-wrapper">
    <div class="json-editor-nav">
        <span>Id</span>
        <input type="text" />
        <button id="btn-set-json">Get Metadata</button>
        <button id="btn-save-metadata">Save Metadata</button>
    </div>
    <div id="jsonEditor"></div>
</div>