<label class="pl-control-label" for="<%- guid %>"></label>

<div class="input-group pl-button-edit-group">
    <input class="pl-control form-control pl-control-editor pl-editor pl-text-box-input pl-button-edit-group__control" type="text" id="<%- guid %>">
    <span class="pl-button-edit-button pl-button-edit-button_clear input-group-addon">
        <i class="pl-button-edit-button__icon pl-button-edit-button__icon_clear fa fa-times"></i>
    </span>
    <span class="pl-button-edit-button pl-button-edit-button_action input-group-addon">
        <i class="pl-button-edit-button__icon pl-button-edit-button__icon_action fa"></i>
    </span>
</div>

<div class="pl-control-hint-text help-block hidden"></div>
<div class="pl-control-error-text help-block hidden"></div>
<div class="pl-control-warning-text help-block hidden"></div>


