<style>

    .day-inactive {
        opacity: 0.5;
    }

    .weekdays {
        color: #000000;
    }
    .day {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .day-weekend {
        color: #FF0000;
    }
</style>

<table>
    <thead>
    <tr>
        <th>
            <button>&laquo;</button>
        </th>
        <th colspan="5" class="years">Месяц Год</th>
        <th>
            <button>&raquo;</button>
        </th>
    </tr>
    <tr class="weekdays weekdays-head">
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
         <td class="day"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7">
            <button>Сегодня</button>
        </th>
    </tr>
    <tr>
        <th colspan="7">
            <button>Очистить</button>
        </th>
    </tr>
    </tfoot>
</table>