<style>

    .day-inactive {
        opacity: 0.5;
    }

    .weekdays {
        color: #000000;
    }
    .day {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .day-today {
        background: #d4e2ee;
    }

    .day-weekend {
        color: #FF0000;
    }

    .day-selected {
        border: 1px solid #FF0000;
    }

    .today {
        width: 100%;
    }

    .years {
        text-align: center;
    }

    .navigation-next {
        text-align: right;
    }

    .navigation-prev {
        text-align: left;
    }
</style>

<table>
    <thead>
    <tr class="navigation">
        <th class="navigation-prev">
            <button class="btn-month-prev">&laquo;</button>
        </th>
        <th colspan="5" class="years">
            <span class="years-month"></span>
            <span class="years-year"></span>
        </th>
        <th class="navigation-next">
            <button class="btn-month-next">&raquo;</button>
        </th>
    </tr>
    <tr class="weekdays weekdays-head">
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7">
            <button class="today today-date">Сегодня</button>
        </th>
    </tr>
    </tfoot>
</table>