<table>
    <thead>
        <tr>
            <th><button>&laquo;</button></th>
            <th colspan="2">Год</th>
            <th><button>&raquo;</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Янв</td><td>Фев</td><td>Мар</td><td>Апр</td>
        </tr>
        <tr>
            <td>Май</td><td>Июн</td><td>Июл</td><td>Авг</td>
        </tr>
        <tr>
            <td>Сен</td><td>Окт</td><td>Ноя</td><td>Дек</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4"><button>Сегодня</button></th>
        </tr>
        <tr>
            <th colspan="4"><button>Очистить</button></th>
        </tr>
    </tfoot>
</table>