<table>
    <thead>
    <tr class="navigation">
        <th class="navigation-prev">
            <button class="btn-year btn-year-prev">&laquo;</button>
        </th>
        <th colspan="2">
            <span class="year-begin"></span>
            -
            <span class="year-end"></span>
        </th>
        <th class="navigation-next">
            <button class="btn-year btn-year-next">&raquo;</button>
        </th>
    </tr>
    </thead>
    <tbody class="year-list">
    <tr class="years">
        <td class="year year-begin">1999</td>
        <td class="year">2000</td>
        <td class="year">2001</td>
        <td class="year">2002</td>
    </tr>
    <tr class="years">
        <td class="year">2003</td>
        <td class="year">2004</td>
        <td class="year">2005</td>
        <td class="year">2006</td>
    </tr>
    <tr class="years">
        <td class="year">2003</td>
        <td class="year">2004</td>
        <td class="year">2005</td>
        <td class="year">2006</td>
    </tr>
    <tr class="years">
        <td class="year">2003</td>
        <td class="year">2004</td>
        <td class="year">2005</td>
        <td class="year">2006</td>
    </tr>
    <tr class="years">
        <td class="year">2007</td>
        <td class="year">2008</td>
        <td class="year">2009</td>
        <td class="year year-end">2010</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4">
            <button class="today today-year">Сегодня</button>
        </th>
    </tr>
    </tfoot>
</table>