<div class="timepicker-seconds">
    <table>
        <tbody>
        <tr>
            <td class="second" data-second="0">00</td>
            <td class="second" data-second="5">05</td>
            <td class="second" data-second="10">10</td>
            <td class="second" data-second="15">15</td>
        </tr>
        <tr>
            <td class="second" data-second="20">20</td>
            <td class="second" data-second="25">25</td>
            <td class="second" data-second="30">30</td>
            <td class="second" data-second="35">35</td>
        </tr>
        <tr>
            <td class="second" data-second="40">40</td>
            <td class="second" data-second="45">45</td>
            <td class="second" data-second="50">50</td>
            <td class="second" data-second="55">55</td>
        </tr>
        </tbody>
    </table>
</div>