<table>
    <thead>
    <tr class="navigation">
        <th class="navigation-prev">
            <button class="btn-month-prev btn btn-default"><i class="fa fa-caret-left"></i></button>
        </th>
        <th colspan="5" class="years">
            <span class="years-month"></span>
            <span class="years-year"></span>
        </th>
        <th class="navigation-next">
            <button class="btn-month-next btn btn-default"><i class="fa fa-caret-right"></i></button>
        </th>
    </tr>
    <tr class="weekdays weekdays-head">
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
        <th class="day"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    <tr class="weekdays weekdays-calendar">
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
         <td class="day day-calendar"></td>
    </tr>
    </tbody>
</table>
<div>
    <a class="time btn btn-link">Время</a>
</div>