@import "default.less";

.pl-combo-box{
  position: relative;

  .pl-selectview {
//    margin-bottom: 15px;

    .clear-value {
      z-index: 3;
      right: 59px;
    }

    .select2-container{
      position: absolute;
      padding-right: 38px;

      .select2-chosen{
        margin-right: 10px;
      }

      .select2-arrow {
        display: none;
      }
    }

    .input-group-btn {
      z-index: 3;
      .select-view{
        border-left: none;
      }
    }
  }
  .select-view{
    overflow: hidden;
//    position: relative;
//    white-space: nowrap;
//    overflow: hidden;
//    padding-right: 25px;
    .select-view-value{
      width: 100%;
      float: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover{
      color: @color-dark-gray;
      text-decoration: none;
    }
    .select-arrow{
      display: inline-block;
      width: 18px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      background-image: none;
      background-color: @color-white;
      border-left: 1px solid @color-border;
    }
  }
  /*
  .search-button{
    position: absolute;
    right: 0;
    top: 10px;
    color: #999;
  }*/

  .clear-value{
    display: none;
    position: absolute;
//    top: 6px;
    right: 29px;
    line-height: 30px;
    z-index: 1;
    font-size: 12pt;
    cursor: pointer;
  }
}
.select2-drop{
  /*width: auto !important;*/
  border-top: 1px solid @color-gray;
  /*max-width: 500px;*/
  .select2-search{
    input.select2-input{
      padding: 4px 10px !important;
    }
  }
  .select2-results{
    padding: 0 4px;
  }
}
.select2-container{
  float: left;
}