@import "default.less";

.pl-data-grid {
  overflow: hidden;
  height: 100%;
  position: relative;

  .pl-label label{
      min-height: 0;
  }

  .pl-datagrid-mark {
    border-left: 3px solid @color-gray;
    position: absolute;
    top:0;
    bottom: 0;

  }

  .pl-datagrid-fake-header {
    height: 0;
    padding: 0;
    //border: 0;

    &.pl-datagrid-checkbox {
      width: 50px;
    }

    .pl-datagrid-fake-header-cell {
      overflow: hidden;
      height: 0;
    }
  }

  .pl-datePicker, .pl-combo-box, .pl-label, .pl-button, .pl-numeric-box, .pl-check-box, .pl-check-box > label, .pl-text-area{
    height: auto;
    margin: 0;
    line-height: 0;
  }

  .pl-check-box{
    text-align: center;
  }

  .table-hover {
    tbody {
      tr {
        &.selected {
          text-shadow: -1px 1px 4px @color-light-gray;
        }
      }
      tr:hover {
        td, th {
          background-color: transparent !important;
        }
      }
    }
  }

  .table-hover > tbody > tr.select > td{
    text-decoration: underline;
    color: @color-black;
  }

  .pl-stack-panel {
    border: none;
    margin: 0;
    padding: 0;
    //hot fix
    .pl-stack-panel-i{
      margin: 0;
      padding: 0;
      img{
        vertical-align: top;
      }
      .pl-label{
        line-height: 0;
      }
    }
  }

  .pl-label, .pl-link-label {
    label {
      line-height: normal;
      margin-bottom: 0;
    }
  }

  @header-padding-right: 18px;
  table {
    margin-bottom: 0;

    table-layout: fixed;

    &.pl-datagrid-head-table {
      table-layout: fixed;

      .pl-check-box {
        padding: 0;

        .checker {
          padding: 0;
        }
      }
    }

    &.table-bordered{
      border: 1px solid @color-border;
//      border: none;
    }
    thead {

      & > tr {
        &.heading{
          & > th{
            text-align: center;
            vertical-align: middle;
            background-color: @color-elements !important;
            line-height: 14px;
            white-space: nowrap;
            padding: 0;
            position: relative;
            overflow: hidden;

            .pl-datagrid-resize {
              cursor:col-resize;
              background: transparent;
              display: inline;
              top:0;
              right:0;
              bottom:0;
              position: absolute;
              width: 3px;
            }

            div {
              padding: 10px;
              text-overflow: ellipsis;
            }

          }
        }

        & > th {
          cursor: default;
          .font-notosans-small;
          padding: 10px;
//          background-color: @color-light-gray3 !important;
          border-color: @color-border;
          font-weight: bold;
//          &:first-child {
//            padding-left: 20px;
//          }
        }

      }
    }

    tbody {
      .font-notosans-small;
      & > tr {
        & > td{
          padding: 5px 10px;
          line-height: 14px;

          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: default;

          .pl-label{
            margin: 0;
            padding: 0;
            height: auto;
          }
        }
        &.group-title {
          .fa-caret-right {

          }
          &.expanded {
            .fa-caret-right {
              transform: rotate(90deg);
            }
          }

        }
        &.group-title td{
          font-weight: bold;
          background: -moz-linear-gradient(top, rgba(208, 208, 208, 0.65) 0%, rgba(0,0,0,0) 30%);
          background: linear-gradient(to right, rgba(208, 208, 208, 0.65) 0%,rgba(0,0,0,0) 30%);
          cursor: pointer;
        }

        &.datagrid-row-master {

          & > td.datagrid-expand {
            cursor: pointer;
          }

          &.expanded {
            & > td.datagrid-expand {
              i {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
              }
            }
          }
        }

      }

//      &.active {
//        & > tr {
//          background: #a6c8e6;
//          &.rowData {
//            color: #2c5285;
//          }
//        }
//
//        &.hover {
//          & > tr {
//            & > td {
//              background: #92bce0;
//            }
//          }
//        }
//      }
    }

    thead {
      tr {
        th {
          &.sorting {
            background: url('media/images/sort_both.png') no-repeat center right;
          }

          &.sorting, &.sorting_asc, &.sorting_desc {
            padding-right: @header-padding-right;
            cursor: pointer;
          }

          &.sorting_asc {
            background: url('media/images/sort_asc.png') no-repeat center right;
          }

          &.sorting_desc {
            background: url('media/images/sort_desc.png') no-repeat center right;
          }

        }
      }
    }
  }
}