@import "default.less";
.pl-listbox{
  min-height: 30px;
  & > .listbox-body{
    & > div{
      width: 100%;
      float: left;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.item-content {
  position: relative;
  width: 100%;
  float: left;
  cursor: pointer;
//  margin-bottom: 10px;
//  width: calc(~"100% - 40px");
  box-sizing: border-box;
  padding: 0 10px;


  &.selected{
    box-shadow: inset 4px 0 0 rgb(0, 148, 163);
  }


  & > .check-listbox-item {
    position: absolute;
    left: 10px;
  }

  .pl-label {
    cursor: pointer;
    label {
      margin-right: 20px !important;
      border-right: 1px solid @color-white;
      padding-right: 20px !important;
//      line-height: initial;
      cursor: pointer;
      &:empty {
        display: none;
      }
    }
  }
}