//@import (less) "../../bower_components/metronic/global/plugins/bootstrap/css/bootstrap.css";
//@import (less) "../../bower_components/metronic/global/css/components.css";
//@import (less) "../../bower_components/metronic/global/css/plugins.css";
//@font-notosans-regular: 400 "NotoSans", sans-serif;

@import "default.less";
@import "v2/style.less";

@import (less) "../../bower_components/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css";

@import "tabPanel.less";
@import "numericBox.less";
@import "popupButton.less";
@import "imageBox.less";
@import "dataGrid.less";
@import "comboBox.less";
@import "documentViewer.less";
@import "filterpanel.less";
@import "treeView.less";
@import "calendar.less";
@import "datePicker.less";
@import "listBox.less";
@import "toggleButton.less";

@import "validation.less";
@import "flexbox.less";
@import "dataGridPopupMenu.less";
@import "portlet.less";

@import "menuBar.less";
@import "globalNavigationBar.less";
//@import "globalNavigationBarNEW.less";
@import "statusBar.less";
@import "activeBar.less";
@import "toolBar.less";
@import "textBox.less";
@import "radioGroup.less";


body{
  .font-notosans-regular;
}

.clearfix {
  height: 0;
}
.full-width.pl-button {
  button {
    width: 100%;
  }
}

.pl-button{
  &.full-width{
    & > .btn{
      width: 100%;
    }
  }
  & > .btn{
    padding: 6px 10px;
    & > i{
      width: auto;
      margin-right: 5px;
    }
  }
}

.pl-check-box{
  label{
    line-height: 30px;
    width: 100%;
    .checker{
      margin: 0;
    }
  }
}

.pl-stack-panel {
  margin: 10px;
  padding: 10px;
  background-color: @color-white;
  border: 1px solid @color-border;
  list-style: none;

  .pl-data-grid{
    .pl-stack-panel.horizontal-orientation{
      display: table;
      background: transparent;
      & > .pl-stack-panel-i{
        display: table-cell;
        float: none;
        vertical-align: middle;
      }
    }
  }

 .pl-stack-panel{
//    float: left;
    margin: 0 0 0 1px;
    padding: 0;
    border: none;

  }

  & > .pl-stack-panel-i:first-child{
    margin-top: 0;
  }
  & > .pl-stack-panel-i{
//    margin-top: 10px;
    padding: 0 0 10px 0;
    width: 100%;
    float: left;

    .pl-stack-panel-i{
      padding: 0;
    }
  }

  &.horizontal-orientation {
    & > .pl-stack-panel-i {
      width: auto;
      float: left;
      display: table-cell;
      padding-right: 10px;
    }
  }
}

.pl-grid-panel{

  .pl-stack-panel{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &.horizontal-orientation{
      & > .pl-stack-panel-i{
        display: table-cell;
      }
    }

    .pl-stack-panel-i{
      padding: 0;
      margin: 0;
      display: block;
    }
  }
}

.pl-search-panel{
  background-color: @color-light-gray3;
}

.pl-scroll-panel{
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

//.pl-label{
//
//  &.pl-label-oneline {
//
//    & label {
    //white-space: pre;
//      text-overflow: ellipsis;
//    }
//  }
//
//  label{
//    min-height: 30px;
//    //line-height: 30px;
//    display: block;
//    font-size: inherit;
//    //white-space: pre;
//  }
//}


.cell-checkbox{
  text-align: center;
  *{
    margin: 0 !important;
    padding: 0 !important;
  }
}

label{
  margin-bottom: 0;
}

//.pl-label > label{
//  text-overflow: ellipsis;
//  overflow: hidden;
//  white-space: pre-wrap;
//  margin-bottom: 0;
//}

//.pl-button{
//  & > button{
//    padding: 6px 10px;
//    border: 1px solid @color-border;
//    float: left;
//  }
//}

//.pl-datePicker, .pl-combo-box, .pl-label, .pl-button, .pl-numeric-box, .pl-check-box, .pl-text-area{
//  font-size: 14px;
//}

.modal{
  .modal-body{
    padding: 10px;
  }
  .modal-footer{
    padding: 10px;
  }
}
//.modal-open .datetimepicker{
//  z-index: auto !important;
//}
.modal-open .select2-drop{
  z-index: 100500; //fix z-index modal level
}
.modal.container {
  .modal-body {
    overflow: hidden;
    & > .pl-stack-panel {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

.pl-pdf-report-view{
  width: 100%;
  height: 100%;

  iframe{
    width: 100%;
    height: 100%;
    float: left;
    border: none;
  }
}

.pl-data-navigation {
  .navigation-bar{
    & > .availablePageSizes{
      float: left;
      margin: 10px;
      height: 31px;
      border: 1px solid #ddd;
      &:focus{
        outline: none;
      }
    }
    & > .navigation{
      float: left;
      & > .pagination{
        .active{
          a, span{
            background-color: #46b1bd;
            border-color: #dddddd;
            color: @color-white;
            &:hover, &:focus, &:active{
              background-color: #46b1bd;
              border-color: #dddddd;
            }
          }

        }
        & > li{
          & > a{
            color: @color-black;
          }
          &.disabled{
            &:not(.prev), &:not(.first), &:not(.last), &:not(.next){
              & > a {
                background-color: #46b1bd;
                color: @color-white;
              }
            }

            &.prev, &.next, &.first, &.last{
              & > a{
                color: @color-light-gray;
                background-color: @color-white;
              }
            }
          }
        }
        background-color: #46b1bd;
        color: @color-white;
      }
    }
  }

  .bootpag.disabled {
    li a {
      background-color: #EEE;
      cursor: not-allowed;
      border: 1px solid #ccc;
    }

    li a:hover {
      background-color: #EEE;
      border: 1px solid #ccc;
    }
  }
}

#page-content {
  margin-left: 0 !important;
  padding: 0!important;
  overflow: hidden !important;
  background-color: @color-white;

  .app-area{
    position: relative;
    width: 100%;
    //  height: 100%;
    float: left;
    background-color: @color-background;

    & > .pl-panel{
      float: left;
    }
    & > .pl-scroll-panel, & > .pl-grid-panel, & > .pl-panel{
      margin: 10px;
      padding: 10px;

      border: 1px solid @color-border;
      background-color: @color-white;
    }
  }

  .app-area:first-child{
    & > .pl-grid-panel{
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  margin-bottom: 10px;
}

.pl-filter-panel {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
  .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
  .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin-bottom: 0;
  }
}