<div class="backdrop" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0);"></div>

<style>
    .pl-combobox-items > .pl-combobox-selected {
        border-left: 4px solid #39b3d7;
    }
    .pl-combobox-dropdown {
        position: relative;
        background: #FFFFFF;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        padding: 5px;
    }

    .pl-combobox-dropdown.dropdown-direction-down {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid #cccccc;
    }

    .pl-combobox-dropdown.dropdown-direction-up {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top: 1px solid #cccccc;
    }
</style>

<div class="pl-combobox-dropdown pl-dropdown-content">
    <% if (!multiSelect) {%>
    <div class="form-group pl-combobox-filter hidden">
        <input type="text" class="pl-combobox-filter-text form-control">
    </div>
    <% } %>
    <div class="pl-combobox-items-empty">
        По запросу "<span></span>" ничего не найдено
    </div>
    <div class="pl-combobox-items" style="background: rgba(255, 255, 255, 1);">
        <label>Dropdown items</label>
    </div>
</div>
