<div class="backdrop" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0);"></div>

<div class="pl-combobox-dropdown pl-dropdown-content">
    <div class="form-group pl-combobox-filter">
        <input type="text" class="pl-combobox-filter-text form-control">
    </div>
    <div class="pl-combobox-items-empty">
        По запросу "<span></span>" ничего не найдено
    </div>
    <div class="pl-combobox-items" style="background: rgba(255, 255, 255, 1);">
        <label>Dropdown items</label>
    </div>
</div>
