<label class="pl-control-label" for="<%- guid %>"></label>

<div class="input-group">
    <input class="pl-control form-control pl-datepicker-input" type="text" id="<%- guid %>" >
    <div class="pl-control-editor"></div>
    <span class="pl-datepicker-calendar input-group-addon"><i class="fa fa-clock-o"></i></span>
</div>

<div class="pl-control-hint-text help-block hidden"></div>
<div class="pl-control-error-text help-block hidden"></div>
<div class="pl-control-warning-text help-block hidden"></div>