<div class="file">
    <div class="file_name"></div>
    <div class="file_size"></div>
    <button class="file-remove" type="button">Удалить</button>
</div>

<div style="position: relative;overflow: hidden;">
    <input type="file" style="display: block;height: 2000px;width: 2000px;position: absolute;right:-50px;bottom: -50px;outline: none;">
    <div style="text-align: center;background-color: #777777;padding: 20px;">Выбрать файл</div>
</div>

<div class="pl-control-hint-text"></div>
<div class="pl-control-error-text"></div>
<div class="pl-control-warning-text"></div>
