<div class="form-group">
    <label class="pl-control-label">Прикрепленный файл</label>

    <div class="input-group pl-filebox-edit">
        <span class="form-control pl-filebox-file-empty">Файл не выбран...</span><!-- Файла нет -->

        <span class="form-control pl-filebox-file-upload"><span>filename.ext</span></span><!-- Файл выбран на загрузку -->

        <span class="form-control pl-filebox-file-download"><!-- Файл загружен -->
            <a href="#" title="Скачать файл" class="pl-filebox-file-download-url" target="_blank">filename.ext</a>
        </span>

        <span class="input-group-btn">
            <label class="btn btn-default pl-filebox-btn-pick" for="file<%-guid%>"><!-- Выбор файла на для загрузки -->
                <span class="fa fa-folder-open"></span>
            </label>

             <button class="btn btn-default pl-filebox-btn-remove" type="button"><!-- Удаление выбранного или загруженного файла -->
                 <span class="fa fa-times"></span>
             </button>
        </span>

    </div>

    <div class="pl-filebox-readonly"><!-- Для режима ReadOnly -->
        <span class="form-control pl-filebox-file-empty">Файл не выбран...</span>

        <span class="form-control pl-filebox-file-upload">filename.ext</span>

        <span class="form-control pl-filebox-file-download">
            <a href="#" title="Скачать файл">filename.ext</a>
        </span>
    </div>

    <div class="pl-control-hint-text"></div>
    <div class="pl-control-error-text"></div>
    <div class="pl-control-warning-text"></div>


    <input type="file" class="hidden" id="file<%-guid%>">
</div>
