<div class="top-menu pull-right">
    <ul class="nav navbar-nav pull-right" style="margin-right: 0px">
        <li class="dropdown dropdown-user">
            <a href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username"><%= displayName%></span>
                <span class="role username"><%= activeRole%></span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <!--<li class="dropdown-submenu">-->
                    <!--<a href="javascript:;">-->
                        <!--<i class="icon-users"></i> Роли пользователя </a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a href="javascript:;">Роль1</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">Роль2</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:;">Роль3</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="page_calendar.html">-->
                        <!--<i class="icon-settings"></i> Настройки </a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="inbox.html">-->
                        <!--<i class="icon-user"></i> Профиль </a>-->
                <!--</li>-->
                <!--<li class="divider">-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="extra_lock.html">-->
                        <!--<i class="icon-lock"></i> Заблокировать </a>-->
                <!--</li>-->
                <li>
                    <a href="javascript:;" class="signOut">
                        <i class="icon-key"></i> Выход </a>
                </li>
            </ul>
        </li>
    </ul>
</div>