<div class="pl-datagrid__head">
    <div class="pl-datagrid-container pl-datagrid-container_head">
        <table class="pl-datagrid-table pl-datagrid-table_head table">
            <thead>
            <tr class="pl-datagrid-row pl-datagrid-row_first">
                <td class="pl-datagrid-row__cell pl-datagrid-row__cell_width pl-datagrid-row__cell_checker" style=""></td>
            </tr>
            <tr class="pl-datagrid-row pl-datagrid-row_header">
                <th class="pl-datagrid-row__cell pl-datagrid-row__cell_toggle">
                    <div class="pl-datagrid-toggle  pl-datagrid-toggle_all">
                        <input class="pl-datagrid-toggle__button" type="checkbox"><span></span>
                    </div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="pl-datagrid__body pl-adaptable-by-height">
    <table class="pl-datagrid-table pl-datagrid-table_body table">
        <tbody>
        <tr class="pl-datagrid-row pl-datagrid-row_first">
            <td class="pl-datagrid-row__cell pl-datagrid-row__cell_width pl-datagrid-row__cell_checker" style=""></td>
        </tr>
        </tbody>
    </table>
</div>

