<div class="form-group" style="float: left; width: 100%; margin: 0;">
    <label class="control-label col-sm-3" style="margin: 0; padding: 0;"><%- labelText%></label>
    <div class="col-sm-9" style="margin: 0; padding: 0;">
        <div class="pl-spin-control">
            <button class="btn nm-min">-</button><input tabindex="0" class="pl-spin-input" type="text"><button class="btn nm-max">+</button>
        </div>
        <div class="pl-control-editor"></div>
        <div class="pl-control-validation-message"></div>
        <div class="pl-control-hint-text"></div>
    </div>
</div>