<form class="login-form"  method="POST" target="dummy<%-uid%>" action="#">

    <div class="login-form__row form-group">
        <label class="login-form__label" for="username<%-uid%>"><%-username%></label>
        <input class="login-form__input form-control" type="text" id="username<%-uid%>">
    </div>

    <div class="login-form__row form-group">
        <label class="login-form__label" for="password<%-uid%>"><%-password%></label>
        <input class="login-form__input form-control" type="password" id="password<%-uid%>">
    </div>

    <div class="login-form__row login-form__row--submit form-group">
        <button class="login-form__submit btn btn-default" id="submit<%-uid%>" type="submit"><%-submit%></button>
    </div>

</form>

<iframe style="display: none;" src="javascript:;" name="dummy<%-uid%>"></iframe>