.background-White.foreground-Black.textstyle-Button {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Menu {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Caption {
  color: rgba(0, 0, 0, 0.54);
}
.background-White.foreground-Black.textstyle-Body1 {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Body2 {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Subhead {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Title {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Headline {
  color: rgba(0, 0, 0, 0.87);
}
.background-White.foreground-Black.textstyle-Display1 {
  color: rgba(0, 0, 0, 0.54);
}
.background-White.foreground-Black.textstyle-Display2 {
  color: rgba(0, 0, 0, 0.54);
}
.background-White.foreground-Black.textstyle-Display3 {
  color: rgba(0, 0, 0, 0.54);
}
.background-White.foreground-Black.textstyle-Display4 {
  color: rgba(0, 0, 0, 0.54);
}
.background-Transparent.foreground-Black.textstyle-Button {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Menu {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Caption {
  color: rgba(0, 0, 0, 0.54);
}
.background-Transparent.foreground-Black.textstyle-Body1 {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Body2 {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Subhead {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Title {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Headline {
  color: rgba(0, 0, 0, 0.87);
}
.background-Transparent.foreground-Black.textstyle-Display1 {
  color: rgba(0, 0, 0, 0.54);
}
.background-Transparent.foreground-Black.textstyle-Display2 {
  color: rgba(0, 0, 0, 0.54);
}
.background-Transparent.foreground-Black.textstyle-Display3 {
  color: rgba(0, 0, 0, 0.54);
}
.background-Transparent.foreground-Black.textstyle-Display4 {
  color: rgba(0, 0, 0, 0.54);
}
.background-Black.foreground-White.textstyle-Button {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Menu {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Caption {
  color: rgba(255, 255, 255, 0.7);
}
.background-Black.foreground-White.textstyle-Body1 {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Body2 {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Subhead {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Title {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Headline {
  color: rgba(255, 255, 255, 0.87);
}
.background-Black.foreground-White.textstyle-Display1 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Black.foreground-White.textstyle-Display2 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Black.foreground-White.textstyle-Display3 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Black.foreground-White.textstyle-Display4 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Transparent.foreground-White.textstyle-Button {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Menu {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Caption {
  color: rgba(255, 255, 255, 0.7);
}
.background-Transparent.foreground-White.textstyle-Body1 {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Body2 {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Subhead {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Title {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Headline {
  color: rgba(255, 255, 255, 0.87);
}
.background-Transparent.foreground-White.textstyle-Display1 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Transparent.foreground-White.textstyle-Display2 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Transparent.foreground-White.textstyle-Display3 {
  color: rgba(255, 255, 255, 0.7);
}
.background-Transparent.foreground-White.textstyle-Display4 {
  color: rgba(255, 255, 255, 0.7);
}
.background-White.foreground-Primary1.textstyle-Button {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Menu {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Caption {
  color: rgba(0, 188, 212, 0.83);
}
.background-White.foreground-Primary1.textstyle-Body1 {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Body2 {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Subhead {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Title {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Headline {
  color: rgba(0, 188, 212, 0.87);
}
.background-White.foreground-Primary1.textstyle-Display1 {
  color: rgba(0, 188, 212, 0.83);
}
.background-White.foreground-Primary1.textstyle-Display2 {
  color: rgba(0, 188, 212, 0.83);
}
.background-White.foreground-Primary1.textstyle-Display3 {
  color: rgba(0, 188, 212, 0.83);
}
.background-White.foreground-Primary1.textstyle-Display4 {
  color: rgba(0, 188, 212, 0.83);
}
.background-White.foreground-Primary2.textstyle-Button {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Menu {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Caption {
  color: rgba(178, 235, 242, 0.83);
}
.background-White.foreground-Primary2.textstyle-Body1 {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Body2 {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Subhead {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Title {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Headline {
  color: rgba(178, 235, 242, 0.87);
}
.background-White.foreground-Primary2.textstyle-Display1 {
  color: rgba(178, 235, 242, 0.83);
}
.background-White.foreground-Primary2.textstyle-Display2 {
  color: rgba(178, 235, 242, 0.83);
}
.background-White.foreground-Primary2.textstyle-Display3 {
  color: rgba(178, 235, 242, 0.83);
}
.background-White.foreground-Primary2.textstyle-Display4 {
  color: rgba(178, 235, 242, 0.83);
}
.background-White.foreground-Primary3.textstyle-Button {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Menu {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Caption {
  color: rgba(0, 151, 167, 0.83);
}
.background-White.foreground-Primary3.textstyle-Body1 {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Body2 {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Subhead {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Title {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Headline {
  color: rgba(0, 151, 167, 0.87);
}
.background-White.foreground-Primary3.textstyle-Display1 {
  color: rgba(0, 151, 167, 0.83);
}
.background-White.foreground-Primary3.textstyle-Display2 {
  color: rgba(0, 151, 167, 0.83);
}
.background-White.foreground-Primary3.textstyle-Display3 {
  color: rgba(0, 151, 167, 0.83);
}
.background-White.foreground-Primary3.textstyle-Display4 {
  color: rgba(0, 151, 167, 0.83);
}
.background-Transparent.foreground-Primary1.textstyle-Button {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Menu {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Caption {
  color: rgba(0, 188, 212, 0.83);
}
.background-Transparent.foreground-Primary1.textstyle-Body1 {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Body2 {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Subhead {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Title {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Headline {
  color: rgba(0, 188, 212, 0.87);
}
.background-Transparent.foreground-Primary1.textstyle-Display1 {
  color: rgba(0, 188, 212, 0.83);
}
.background-Transparent.foreground-Primary1.textstyle-Display2 {
  color: rgba(0, 188, 212, 0.83);
}
.background-Transparent.foreground-Primary1.textstyle-Display3 {
  color: rgba(0, 188, 212, 0.83);
}
.background-Transparent.foreground-Primary1.textstyle-Display4 {
  color: rgba(0, 188, 212, 0.83);
}
.background-Transparent.foreground-Primary2.textstyle-Button {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Menu {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Caption {
  color: rgba(178, 235, 242, 0.83);
}
.background-Transparent.foreground-Primary2.textstyle-Body1 {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Body2 {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Subhead {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Title {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Headline {
  color: rgba(178, 235, 242, 0.87);
}
.background-Transparent.foreground-Primary2.textstyle-Display1 {
  color: rgba(178, 235, 242, 0.83);
}
.background-Transparent.foreground-Primary2.textstyle-Display2 {
  color: rgba(178, 235, 242, 0.83);
}
.background-Transparent.foreground-Primary2.textstyle-Display3 {
  color: rgba(178, 235, 242, 0.83);
}
.background-Transparent.foreground-Primary2.textstyle-Display4 {
  color: rgba(178, 235, 242, 0.83);
}
.background-Transparent.foreground-Primary3.textstyle-Button {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Menu {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Caption {
  color: rgba(0, 151, 167, 0.83);
}
.background-Transparent.foreground-Primary3.textstyle-Body1 {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Body2 {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Subhead {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Title {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Headline {
  color: rgba(0, 151, 167, 0.87);
}
.background-Transparent.foreground-Primary3.textstyle-Display1 {
  color: rgba(0, 151, 167, 0.83);
}
.background-Transparent.foreground-Primary3.textstyle-Display2 {
  color: rgba(0, 151, 167, 0.83);
}
.background-Transparent.foreground-Primary3.textstyle-Display3 {
  color: rgba(0, 151, 167, 0.83);
}
.background-Transparent.foreground-Primary3.textstyle-Display4 {
  color: rgba(0, 151, 167, 0.83);
}
.background-White.foreground-Accent1.textstyle-Button {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Menu {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Caption {
  color: rgba(244, 143, 177, 0.54);
}
.background-White.foreground-Accent1.textstyle-Body1 {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Body2 {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Subhead {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Title {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Headline {
  color: rgba(244, 143, 177, 0.87);
}
.background-White.foreground-Accent1.textstyle-Display1 {
  color: rgba(244, 143, 177, 0.54);
}
.background-White.foreground-Accent1.textstyle-Display2 {
  color: rgba(244, 143, 177, 0.54);
}
.background-White.foreground-Accent1.textstyle-Display3 {
  color: rgba(244, 143, 177, 0.54);
}
.background-White.foreground-Accent1.textstyle-Display4 {
  color: rgba(244, 143, 177, 0.54);
}
.background-White.foreground-Accent2.textstyle-Button {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Menu {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Caption {
  color: rgba(248, 187, 208, 0.54);
}
.background-White.foreground-Accent2.textstyle-Body1 {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Body2 {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Subhead {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Title {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Headline {
  color: rgba(248, 187, 208, 0.87);
}
.background-White.foreground-Accent2.textstyle-Display1 {
  color: rgba(248, 187, 208, 0.54);
}
.background-White.foreground-Accent2.textstyle-Display2 {
  color: rgba(248, 187, 208, 0.54);
}
.background-White.foreground-Accent2.textstyle-Display3 {
  color: rgba(248, 187, 208, 0.54);
}
.background-White.foreground-Accent2.textstyle-Display4 {
  color: rgba(248, 187, 208, 0.54);
}
.background-White.foreground-Accent3.textstyle-Button {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Menu {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Caption {
  color: rgba(236, 64, 122, 0.54);
}
.background-White.foreground-Accent3.textstyle-Body1 {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Body2 {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Subhead {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Title {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Headline {
  color: rgba(236, 64, 122, 0.87);
}
.background-White.foreground-Accent3.textstyle-Display1 {
  color: rgba(236, 64, 122, 0.54);
}
.background-White.foreground-Accent3.textstyle-Display2 {
  color: rgba(236, 64, 122, 0.54);
}
.background-White.foreground-Accent3.textstyle-Display3 {
  color: rgba(236, 64, 122, 0.54);
}
.background-White.foreground-Accent3.textstyle-Display4 {
  color: rgba(236, 64, 122, 0.54);
}
.background-Transparent.foreground-Accent1.textstyle-Button {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Menu {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Caption {
  color: rgba(244, 143, 177, 0.54);
}
.background-Transparent.foreground-Accent1.textstyle-Body1 {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Body2 {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Subhead {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Title {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Headline {
  color: rgba(244, 143, 177, 0.87);
}
.background-Transparent.foreground-Accent1.textstyle-Display1 {
  color: rgba(244, 143, 177, 0.54);
}
.background-Transparent.foreground-Accent1.textstyle-Display2 {
  color: rgba(244, 143, 177, 0.54);
}
.background-Transparent.foreground-Accent1.textstyle-Display3 {
  color: rgba(244, 143, 177, 0.54);
}
.background-Transparent.foreground-Accent1.textstyle-Display4 {
  color: rgba(244, 143, 177, 0.54);
}
.background-Transparent.foreground-Accent2.textstyle-Button {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Menu {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Caption {
  color: rgba(248, 187, 208, 0.54);
}
.background-Transparent.foreground-Accent2.textstyle-Body1 {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Body2 {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Subhead {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Title {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Headline {
  color: rgba(248, 187, 208, 0.87);
}
.background-Transparent.foreground-Accent2.textstyle-Display1 {
  color: rgba(248, 187, 208, 0.54);
}
.background-Transparent.foreground-Accent2.textstyle-Display2 {
  color: rgba(248, 187, 208, 0.54);
}
.background-Transparent.foreground-Accent2.textstyle-Display3 {
  color: rgba(248, 187, 208, 0.54);
}
.background-Transparent.foreground-Accent2.textstyle-Display4 {
  color: rgba(248, 187, 208, 0.54);
}
.background-Transparent.foreground-Accent3.textstyle-Button {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Menu {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Caption {
  color: rgba(236, 64, 122, 0.54);
}
.background-Transparent.foreground-Accent3.textstyle-Body1 {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Body2 {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Subhead {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Title {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Headline {
  color: rgba(236, 64, 122, 0.87);
}
.background-Transparent.foreground-Accent3.textstyle-Display1 {
  color: rgba(236, 64, 122, 0.54);
}
.background-Transparent.foreground-Accent3.textstyle-Display2 {
  color: rgba(236, 64, 122, 0.54);
}
.background-Transparent.foreground-Accent3.textstyle-Display3 {
  color: rgba(236, 64, 122, 0.54);
}
.background-Transparent.foreground-Accent3.textstyle-Display4 {
  color: rgba(236, 64, 122, 0.54);
}
/** @TODO Если необходим, добавить значеняи прозрачности для оставшихся вариантов **/
.foreground-Transparent {
  color: rgba(0, 0, 0, 0);
}
.foreground-Primary1 {
  color: #00bcd4;
}
.foreground-Primary2 {
  color: #b2ebf2;
}
.foreground-Primary2 {
  color: #b2ebf2;
}
.foreground-Accent1 {
  color: #f48fb1;
}
.foreground-Accent2 {
  color: #f8bbd0;
}
.foreground-Accent3 {
  color: #ec407a;
}
.foreground-White {
  color: #ffffff;
}
.foreground-Black {
  color: #000000;
}
.background-Transparent {
  background: rgba(0, 0, 0, 0);
}
.background-Primary1 {
  background: #00bcd4;
}
.background-Primary2 {
  background: #b2ebf2;
}
.background-Primary2 {
  background: #b2ebf2;
}
.background-Accent1 {
  background: #f48fb1;
}
.background-Accent2 {
  background: #f8bbd0;
}
.background-Accent3 {
  background: #ec407a;
}
.background-White {
  background: #ffffff;
}
.background-Black {
  background: #000000;
}
.foreground-Transparent .form-control {
  color: rgba(0, 0, 0, 0);
}
.foreground-Primary1 .form-control {
  color: #00bcd4;
}
.foreground-Primary2 .form-control {
  color: #b2ebf2;
}
.foreground-Primary2 .form-control {
  color: #b2ebf2;
}
.foreground-Accent1 .form-control {
  color: #f48fb1;
}
.foreground-Accent2 .form-control {
  color: #f8bbd0;
}
.foreground-Accent3 .form-control {
  color: #ec407a;
}
.foreground-White .form-control {
  color: #ffffff;
}
.foreground-Black .form-control {
  color: #000000;
}
.background-Transparent .form-control {
  background: rgba(0, 0, 0, 0);
}
.background-Primary1 .form-control {
  background: #00bcd4;
}
.background-Primary2 .form-control {
  background: #b2ebf2;
}
.background-Primary2 .form-control {
  background: #b2ebf2;
}
.background-Accent1 .form-control {
  background: #f48fb1;
}
.background-Accent2 .form-control {
  background: #f8bbd0;
}
.background-Accent3 .form-control {
  background: #ec407a;
}
.background-White .form-control {
  background: #ffffff;
}
.background-Black .form-control {
  background: #000000;
}
.textstyle-Button {
  font-size: 14px;
  text-transform: uppercase;
}
.textstyle-Menu {
  font-size: 13px;
  text-transform: none;
}
.textstyle-Caption {
  font-size: 12px;
  text-transform: none;
}
.textstyle-Body1 {
  font-size: 13px;
  text-transform: none;
}
.textstyle-Body2 {
  font-size: 13px;
  text-transform: none;
}
.textstyle-Subhead {
  font-size: 15px;
  text-transform: none;
}
.textstyle-Title {
  font-size: 20px;
  text-transform: none;
}
.textstyle-Headline {
  font-size: 24px;
  text-transform: none;
}
.textstyle-Display1 {
  font-size: 34px;
  text-transform: none;
}
.textstyle-Display2 {
  font-size: 45px;
  text-transform: none;
}
.textstyle-Display3 {
  font-size: 56px;
  text-transform: none;
}
.textstyle-Display4 {
  font-size: 112px;
  text-transform: none;
}
.has-warning .pl-control-validation-message {
  color: #00bcd4;
}
.has-error .pl-control-validation-message {
  color: #ec407a;
}
.pl-text-box .foreground-Transparent {
  color: rgba(0, 0, 0, 0);
}
.pl-text-box .foreground-Primary1 {
  color: #00bcd4;
}
.pl-text-box .foreground-Primary2 {
  color: #b2ebf2;
}
.pl-text-box .foreground-Primary2 {
  color: #b2ebf2;
}
.pl-text-box .foreground-Accent1 {
  color: #f48fb1;
}
.pl-text-box .foreground-Accent2 {
  color: #f8bbd0;
}
.pl-text-box .foreground-Accent3 {
  color: #ec407a;
}
.pl-text-box .foreground-White {
  color: #ffffff;
}
.pl-text-box .foreground-Black {
  color: #000000;
}
.pl-text-box .background-Transparent {
  background: rgba(0, 0, 0, 0);
}
.pl-text-box .background-Primary1 {
  background: #00bcd4;
}
.pl-text-box .background-Primary2 {
  background: #b2ebf2;
}
.pl-text-box .background-Primary2 {
  background: #b2ebf2;
}
.pl-text-box .background-Accent1 {
  background: #f48fb1;
}
.pl-text-box .background-Accent2 {
  background: #f8bbd0;
}
.pl-text-box .background-Accent3 {
  background: #ec407a;
}
.pl-text-box .background-White {
  background: #ffffff;
}
.pl-text-box .background-Black {
  background: #000000;
}
.pl-text-box.foreground-Transparent .form-control {
  color: rgba(0, 0, 0, 0);
}
.pl-text-box.foreground-Primary1 .form-control {
  color: #00bcd4;
}
.pl-text-box.foreground-Primary2 .form-control {
  color: #b2ebf2;
}
.pl-text-box.foreground-Primary2 .form-control {
  color: #b2ebf2;
}
.pl-text-box.foreground-Accent1 .form-control {
  color: #f48fb1;
}
.pl-text-box.foreground-Accent2 .form-control {
  color: #f8bbd0;
}
.pl-text-box.foreground-Accent3 .form-control {
  color: #ec407a;
}
.pl-text-box.foreground-White .form-control {
  color: #ffffff;
}
.pl-text-box.foreground-Black .form-control {
  color: #000000;
}
.pl-text-box.background-Transparent .form-control {
  background: rgba(0, 0, 0, 0);
}
.pl-text-box.background-Primary1 .form-control {
  background: #00bcd4;
}
.pl-text-box.background-Primary2 .form-control {
  background: #b2ebf2;
}
.pl-text-box.background-Primary2 .form-control {
  background: #b2ebf2;
}
.pl-text-box.background-Accent1 .form-control {
  background: #f48fb1;
}
.pl-text-box.background-Accent2 .form-control {
  background: #f8bbd0;
}
.pl-text-box.background-Accent3 .form-control {
  background: #ec407a;
}
.pl-text-box.background-White .form-control {
  background: #ffffff;
}
.pl-text-box.background-Black .form-control {
  background: #000000;
}
