<div class="image">
    <div class="image-existing">
        <img src=""/><!-- image from data source -->
    </div>

    <div class="image-empty">
        <img src=""/><!-- static empty image -->
    </div>

    <div class="image-uploaded">
        <img src=""/><!-- currently uploaded files via src="data:..." -->
    </div>
</div>




<div style="position: relative;overflow: hidden;">
    <input type="file" style="display: block;height: 2000px;width: 2000px;position: absolute;right:-50px;bottom: -50px;outline: none;">
    <div style="text-align: center;background-color: #777777;padding: 20px;">Выюрать файл</div>
</div>

