<style>
    .image {
        width: 150px;
        height: 150px;
        border: 1px solid #777777;
        padding: 10px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="image">
    <img>
    <button class="image-remove" type="button">Удалить</button>
</div>

<div style="position: relative;overflow: hidden;">
    <input type="file" style="display: block;height: 2000px;width: 2000px;position: absolute;right:-50px;bottom: -50px;outline: none;">
    <div style="text-align: center;background-color: #777777;padding: 20px;">Выюрать файл</div>
</div>

<div class="pl-control-hint-text"><%- hintText %></div>
<div class="pl-control-error-text"><%- errorText %></div>
<div class="pl-control-warning-text"><%- warningText %></div>


