<li class="pl-combobox-search">
    <input class="pl-combobox-search-text" type="text">
</li>


<style>
    .pl-combobox-values {
        margin: 0;
        padding: 0;
    }

    .pl-combobox-values:before, .pl-combobox-values:after {
        content: "";
        display: table;
    }

    .pl-combobox-values:after {
        clear: both;
    }

    .pl-combobox-value, .pl-combobox-search {
        display: block;
        float: left;
    }

    .pl-combobox-value {
        border: 1px solid #adadad;
        border-radius: 4px;
        margin-right: 4px;
    }

    .pl-combobox-value-item, .pl-combobox-value-remove {
        float: left;
        display: block;
    }

    .pl-combobox-value-remove {
        margin: 0 4px;
        cursor: pointer;
        outline: none;
        font-weight: 600;
    }

    .pl-combobox-value-remove, .pl-combobox-value-remove:hover, .pl-combobox-value-remove:focus {
        text-decoration: none;
        outline: none;
    }

    .pl-combobox-search input {
        border: none;
        outline: none;
    }

</style>