<div class="backdrop"></div>


<div class="datepicker-date pl-dropdown-content">
    <div class="days"></div>
    <div class="months" style="display: none;"></div>
    <div class="years"  style="display: none;"></div>
    <div class="pl-datepicker-footer btn-group btn-group-sm" role="group">
        <a class="today today-date btn btn-default"><%=window.InfinniUI.localized.strings.DateTimePicker.today%></a>
        <a class="datepicker-clear btn btn-default"><%=window.InfinniUI.localized.strings.DateTimePicker.clear%></a>
    </div>
</div>

