<div class="pl-datagrid__body">
    <table class="pl-datagrid-table pl-datagrid-table_body table table-bordered">
        <thead>
        <tr class="pl-datagrid-row pl-datagrid-row_first">
            <td class="pl-datagrid-row__cell pl-datagrid-row__cell_width pl-datagrid-row__cell_checker" style=""></td>
        </tr>
        <tr class="pl-datagrid-row pl-datagrid-row_header">
            <th class="pl-datagrid-row__cell pl-datagrid-row__cell_toggle"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
