<div class="backdrop"></div>

<div class="datepicker-datetime">
        <div class="days"></div>
        <div class="months" style="display: none;"></div>
        <div class="years"  style="display: none;"></div>
        <div class="times" style="display: none;"></div>
        <div class="hours" style="display: none;"></div>
        <div class="minutes" style="display: none;"></div>

        <div class="pl-datetimepicker-footer btn-group btn-group-sm" role="group">
            <a class="datepicker-clear btn btn-default">Очистить</a>
        </div>
    </div>
</div>

