<div class="backdrop"></div>

<style>
    .backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .datepicker-time {
        background: #ffffff;
        position: relative;
        border: 1px solid #000000;
    }

    .pl-timepicker-dropdown {
        position: absolute;
    }

    .datepicker-clear {
        width: 100%;
        position: relative;
    }

    .datepicker-time a.days {
        display: none;
    }

</style>

<div class="datepicker-time">
    <div class="times"></div>
    <div class="hours" style="display: none;"></div>
    <div class="minutes" style="display: none;"></div>
</div>
<button class="datepicker-clear">Очистить</button>
</div>

