<div class="navbar navbar-default" role="navigation">
    <!--<span class="navbar-brand"><%=appName%></span>-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <!--li class="active home">
                <a class="data-view" data-view-anchor="<%=viewId%>" href="javascript:;"><i class="fa fa-home"></i></a>
            </li-->
        </ul>
    </div>
    <div class="navbar-list">
        <div class="navbar-list-container hidden"></div>
        <div class="navigation-list">
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>