<span class="pl-treeview-node__button"><!-- pl-treeview-node__button_collapse -->
    <!-- expand/collapse button -->
</span>

<div class="pl-treeview-node__item pl-treeview-item"><!-- pl-treeview-item_checked -->
    <div class="pl-treeview-item__checker pl-treeview-item__checker_radio"></div>

    <div class="pl-treeview-item__content"><!-- pl-treeview-item__content_selected -->
        <!-- item content HTML markup -->
    </div>
</div>

<div class="pl-treeview-node__items"><!-- pl-treeview-node__items_expanded -->
    <!-- subitems list -->
</div>