<div class="pl-treeview-node-container">
    <span class="pl-treeview-node-button pl-treeview-node-button-expand fa fa-plus-square-o"></span>
    <span class="pl-treeview-node-button pl-treeview-node-button-collapse fa fa-minus-square-o"></span>

    <div class="pl-treeview-node-item">
        <div class="pl-treeview-node-item__check">
            <span class="fa pl-treeview-node-item__checker"></span>
        </div>
        <div class="pl-treeview-node-item__content"></div>
    </div>
</div>

<div class="pl-treeview-node-items"></div>
