<div class="timepicker-hours" style="display: none;">
    <table class="table-condensed">
        <tbody>
        <tr>
            <td data-action="selectHour" class="hour">12</td>
            <td data-action="selectHour" class="hour">01</td>
            <td data-action="selectHour" class="hour">02</td>
            <td data-action="selectHour" class="hour">03</td>
        </tr>
        <tr>
            <td data-action="selectHour" class="hour">04</td>
            <td data-action="selectHour" class="hour">05</td>
            <td data-action="selectHour" class="hour">06</td>
            <td data-action="selectHour" class="hour">07</td>
        </tr>
        <tr>
            <td data-action="selectHour" class="hour">08</td>
            <td data-action="selectHour" class="hour">09</td>
            <td data-action="selectHour" class="hour">10</td>
            <td data-action="selectHour" class="hour">11</td>
        </tr>
        </tbody>
    </table>
</div>
