<style>
    .timepicker-hours .hour {
        padding: 10px;
    }

    .hour-today {
        background: #d4e2ee;
    }

    .hour-selected {
        border: 1px solid #FF0000;
    }
</style>
<div class="timepicker-hours">
    <table>
        <tbody>
        <tr>
            <td class="hour">00</td>
            <td class="hour">01</td>
            <td class="hour">02</td>
            <td class="hour">03</td>
        </tr>
        <tr>
            <td class="hour">04</td>
            <td class="hour">05</td>
            <td class="hour">06</td>
            <td class="hour">07</td>
        </tr>
        <tr>
            <td class="hour">08</td>
            <td class="hour">09</td>
            <td class="hour">10</td>
            <td class="hour">11</td>
        </tr>

        <tr>
            <td class="hour">12</td>
            <td class="hour">13</td>
            <td class="hour">14</td>
            <td class="hour">15</td>
        </tr>
        <tr>
            <td class="hour">16</td>
            <td class="hour">17</td>
            <td class="hour">18</td>
            <td class="hour">19</td>
        </tr>
        <tr>
            <td class="hour">20</td>
            <td class="hour">21</td>
            <td class="hour">22</td>
            <td class="hour">23</td>
        </tr>
        </tbody>
    </table>
</div>
