<style>
    .minute {
        padding: 10px;
    }

    .minute-selected {
        border: 1px solid #FF0000;
    }

</style>
<div class="timepicker-minutes">
    <table>
        <tbody>
        <tr>
            <td class="minute" data-minute="0">00</td>
            <td class="minute" data-minute="5">05</td>
            <td class="minute" data-minute="10">10</td>
            <td class="minute" data-minute="15">15</td>
        </tr>
        <tr>
            <td class="minute" data-minute="20">20</td>
            <td class="minute" data-minute="25">25</td>
            <td class="minute" data-minute="30">30</td>
            <td class="minute" data-minute="35">35</td>
        </tr>
        <tr>
            <td class="minute" data-minute="40">40</td>
            <td class="minute" data-minute="45">45</td>
            <td class="minute" data-minute="50">50</td>
            <td class="minute" data-minute="55">55</td>
        </tr>
        </tbody>
    </table>
</div>