<table class="table-condensed">
    <tbody>
    <tr>
        <td>
            <a href="#" tabindex="-1" title="Increment Hour" class="btn" data-action="incrementHours">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </td>
        <td class="separator"></td>
        <td>
            <a href="#" tabindex="-1" title="Increment Minute" class="btn" data-action="incrementMinutes">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </td>
        <td class="separator"></td>
    </tr>
    <tr>
        <td>
            <span class="timepicker-hour" data-time-component="hours" title="Pick Hour"
                  data-action="showHours">12</span>
        </td>
        <td class="separator">:</td>
        <td>
            <span class="timepicker-minute" data-time-component="minutes" title="Pick Minute" data-action="showMinutes">14</span>
        </td>
        <td>
            <button class="btn btn-primary" data-action="togglePeriod" tabindex="-1" title="Toggle Period">
                PM
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" tabindex="-1" title="Decrement Hour" class="btn" data-action="decrementHours">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </td>
        <td class="separator"></td>
        <td>
            <a href="#" tabindex="-1" title="Decrement Minute" class="btn" data-action="decrementMinutes">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </td>
        <td class="separator"></td>
    </tr>
    </tbody>
</table>
