<div class="home">
<div class="pl-gn-button-top"></div>
<div class="pl-gn-button-bottom"></div>
<div data-app-id="<%= appId %>" class="pl-gn-button-link">
    <img src="home.png" class="">
</div>
<div data-app-id="<%= appId %>" class="pl-gn-button-close">&times;</div>
<div class="pl-gn-button-separator">
    <div class="pl-gn-separator-container" style="position: relative;">
        <div class="pl-gn-separator-background"></div>
        <div class="pl-gn-separator-decorator"></div>
    </div>
</div>
</div>