<div style="position:relative;">
    <form action="/">
        <div class="pl-filter-controls">

        </div>
        <div class="pl-filter-buttons">
            <button class="btn btn_search btn default btn-block" tabindex="0" type="submit"><%= text %></button>

            <div class="dropdown" tabindex="-1">
                <button class="btn btn-default dropdown-toggle" tabindex="0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <!--<span class="caret"></span>-->
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:;" class="btn_reset">Сброс</a></li>
                </ul>
            </div>

            <!--<button class="btn btn_reset btn-danger btn-block" type="button">Сброс</button>-->
        </div>
        <!--<input type="submit" style="display: none;">-->
    </form>
</div>
