<%function buildGroupedListboxInput(i, isMultiselect, inputName){
    if(isMultiselect){
        %>
            <input type = "checkbox" name="<%= inputName + '-' + i %>" />
        <%
    }else{
        %>
            <input type = "radio" name="<%= inputName %>" />
        <%
    }
}%>

<ul class="pl-listbox-control pl-listbox-grouped">
    <%
        var i = 0;
        groups.forEach(function(group, gIndex){
    %>
        <li <% if(focusable) {%>tabindex="0"<%}%> class="pl-listbox-group-i">
            <div class="pl-listbox-group-title"></div>
            <ul class="pl-listbox-group-body">
                <% group.items.forEach(function(item, index){%>
                    <li <% if(focusable) {%>tabindex="0"<%}%> class="pl-listbox-i <% if(disabledItemCondition!=null && disabledItemCondition(undefined, {value: item})) {%>disabled-list-item<%}%>">
                        <div class="pl-listbox-input">
                            <%
                                buildGroupedListboxInput(i, isMultiselect, inputName);
                                i++;
                            %>
                            <span></span>
                        </div>
                        <div class="pl-listbox-body"></div>
                    </li>
                <%});%>
            </ul>
        </li>
    <%});%>
</ul>
