<div class="pl-treeview-node__button"><!-- pl-treeview-node__button_collapse -->
    <span class="pl-treeview-node__icon pl-treeview-node__icon_collapsed fa fa-fw fa-plus-square-o"></span>
    <span class="pl-treeview-node__icon pl-treeview-node__icon_expanded fa fa-fw fa-minus-square-o "></span>
    <span class="pl-treeview-node__icon pl-treeview-node__icon_blank fa fa-fw"></span>
    <!-- expand/collapse button -->
</div>

<div class="pl-treeview-node__item pl-treeview-item"><!-- pl-treeview-item_checked -->
    <div class="pl-treeview-item__checker pl-treeview-item__checker_checkbox">
        <span class="pl-treeview-node__icon pl-treeview-node__icon_checked fa fa-fw fa-check-square-o"></span>
        <span class="pl-treeview-node__icon pl-treeview-node__icon_unchecked fa fa-fw fa-square-o"></span>
    </div>

    <div class="pl-treeview-item__content"><!-- pl-treeview-item__content_selected -->
        <!-- item content HTML markup -->
    </div>
</div>

<div class="pl-treeview-node__items"><!-- pl-treeview-node__items_expanded -->
    <!-- subitems list -->
</div>