.pl-label {
  &.pl-text-horizontal-Left {
    text-align: left;
  }

  &.pl-text-horizontal-Right {
    text-align: right;
  }

  &.pl-text-horizontal-Center {
    text-align: center;
  }
  &.pl-text-horizontal-Justify {
    text-align: justify;
  }
  
}

.pl-text-trimming{
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.label-control{
  white-space: nowrap;
}

.label-control.pl-text-wrapping{
  white-space: pre-wrap;
}