.pl-stack-panel {
  list-style: none;
  margin: 0;
  padding: 0;

  &.horizontal-orientation{
    .pl-stack-panel-i{
      float:left;
    }

    &:after{
      content: '';
      clear: both;
      display: block;
    }
  }
}