<%function buildListboxInput(i, isMultiselect, inputName){
    if(isMultiselect){
    %>
        <input type = "checkbox" name="<%= inputName + '-' + i %>" />
    <%
    }else{
    %>
        <input type = "radio" name="<%= inputName %>" />
    <%
    }
}%>

<ul class="pl-listbox-control">
    <% items.forEach(function(item, index){%>
    <li class="pl-listbox-i <% print( isMultiselect ? 'checkbox' : 'radio' ); %>">
        <div class="pl-listbox-input">
            <% buildListboxInput(index, isMultiselect, inputName); %>
        </div>
        <div class="pl-listbox-body"></div>
    </li>
    <%});%>
</ul>


