<%function buildListboxInput(i, isMultiselect, inputName){
    if(isMultiselect){
    %>
        <input type = "checkbox" name="<%= inputName + '-' + i %>" />
    <%
    }else{
    %>
        <input type = "radio" name="<%= inputName %>" />
    <%
    }
}%>

<ul class="pl-listbox-control list-group">
    <% items.forEach(function(item, index){%>
        <li class="pl-listbox-i list-group-item" tabindex="0">
            <div class="pl-listbox-input">
                <% buildListboxInput(index, isMultiselect, inputName); %>
            </div>
            <div class="pl-listbox-body"></div>
        </li>
    <%});%>
</ul>