<label class="pl-control-label" for="<%- guid %>"></label>

<div class="pl-filebox-link">
    <div class="pl-filebox-empty">
        <span>Файл не загружен</span>
    </div>
    <div class="pl-filebox-info">
        <a class="pl-filebox-download" target="_blank"></a>
        <span class="pl-filebox-size"></span>
        <button class="pl-filebox-remove" type="button">Удалить</button>
    </div>
</div>

<div class="pl-filebox-file">
    <input type="file" id="<%- guid %>">
    <div class="pl-filebox-grip">Выбрать файл</div>
</div>

<div class="pl-control-hint-text"></div>
<div class="pl-control-error-text"></div>
<div class="pl-control-warning-text"></div>
