<div class="form-group" style="float: left; width: 100%; margin: 0;">
    <label class="control-label col-sm-3" style="margin: 0; padding: 0;"><%- labelText%></label>
    <div class="col-sm-9" style="margin: 0; padding: 0;">
        <div class="input-group date form_datetime">
            <input tabindex="1" type="text" size="16" class="form-control datetimepicker">
            <div class="pl-control-editor"></div>
            <span class="input-group-btn">
                <button class="btn default date-set open-button" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
            <div class="pl-control-validation-message"></div>
            <div class="pl-control-hint-text"></div>
        </div>
    </div>
</div>