<table>
    <thead>
    <tr class="navigation">
        <th class="navigation-prev">
            <button class="btn-year btn-year-prev btn btn-default"><i class="fa fa-caret-left"></i></button>
        </th>
        <th class="year" colspan="2">Год</th>
        <th class="navigation-next">
            <button class="btn-year btn-year-next btn btn-default"><i class="fa fa-caret-right"></i></button>
        </th>
    </tr>
    </thead>
    <tbody class="month-list">
    <tr>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
    </tr>
    <tr>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
    </tr>
    <tr>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
        <td class="month"></td>
    </tr>
    </tbody>
</table>